.dark {
  background: dimgrey;
}

.dark-text {
  color: aliceblue;
}

.red {
  background: lightcoral;
}

.red-text {
  color: aqua;
}

.some {
  background: lightgreen;
}

.default {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.default-text {
  color: inherit;
}

.some-text {
  color: darkslateblue;
}
