.priority {
  font-weight: 300;
  padding: 0 40px;
}

.low {
  color: #20c920;
}

.middle {
  color: #dede10;
}

.high {
  color: #ee0505;
}

.affair {
  display: table-row;
  word-break: break-word;
}

.affair > div {
  display: table-cell;
  padding-bottom: 10px;
}
