.greeting {
  background: rgba(255, 255, 255, 0.8);
  width: fit-content;
  padding: 20px 20px 0 20px;
  border-radius: 6px;
  margin: 20px;
}

.error {
  border-color: red;
}

input {
  outline: none;
}

.errorText {
  color: red;
  height: 20px;
  font-size: 0.7em;
}
